[2020-04-06 23:42] jplevyak opened #13 "Add CI to ensure that the API compiles."

[2020-05-05 19:11] kanishkarj opened #18 "details of httpcall method"
I would like to make calls to an external http server via the proxy. The method 'httpcall' allows one to do it right? could someone give an example how to use it with a real URL? also, this method can be used to make calls to web service outside the cluster right (like httpbin.org for eg)?

[2020-05-07 10:22] menakaj commented on #18
I was also trying to use the httpCall()
[code]
I was trying to call to an upstream cluster in the onHTTPRequestHeaders() method.
But I got the following error.

[code]

It would be very nice if there are some usage examples of these methods.

Thanks
MenakaJ

[2020-05-22 01:57] dmsqls opened #22 "core occurs when No-Content is received after httpCall"
hi. core occurs when 204 No-Content is received after httpCall.

For what reason? Please tell me the solution.

The core information is as follows

tanks.

[Envoy (Epoch 0)] [2020-05-22 01:54:01.119][32][critical][backtrace] [bazel-out/k8-opt/bin/external/envoy/source/server/_virtual_includes/backtrace_lib/server/backtrace.h:83] Caught Segmentation fault, suspect faulting address 0x0
[Envoy (Epoch

[2020-05-23 05:17] bianpengyuan commented on #22
Which build are you using to run the module? Seems like the same issue that is fixed by https://github.com/envoyproxy/envoy-wasm/pull/455

[2020-05-28 16:47] ctsscott opened #23 "Header replacement in outbound calls"
Any reason to think this won't work?

[2020-07-01 07:30] dmsqls opened #32 "How to set Environment variables for Envoy-Filter?"
Hi.

I want to use environment variables in EnvoyFilter, is there a way to set it?

I checked the environment variable with the code below but couldn't find anything.

****
extern char **environ;
bool testRootContext::onStart(size_t ul_config_size)
{
    for (int for_i = 0; environ[for_i] != NULL; for_i++) {
        LOG_ERROR(std::string("ENV==== "), std::string(environ[for_i]));
    }
    return

[2020-07-01 07:32] dmsqls commented on #22
solved in istio version 1.6.1. Thank you.

[2020-07-01 07:32] #22 closed

[2020-07-01 15:58] taegyunkim commented on #32
I don't know how to set environment variable, but you can define a configuration using protobuf.

solo.io's WASME CLI supports it, so I guess there should be a way to do it using kubectl.
https://docs.solo.io/web-assembly-hub/latest/tutorial_code/build_tutorials/building_cpp_filters/
https://github.com/solo-io/wasme/blob/master/example/cpp/filter.proto

[2020-07-02 17:29] mandarjog opened #33 "httpCall should be able to call by host"
Httpcall and grpc call have very different APIs.

HttpCall requires an upstream cluster, where are grpc calls can define their own. It is very convenient to define cluster with the plugin config so as to not rely on out of band clusters.

Simplegrpcall already supports this.

[2020-07-02 17:29] mandarjog commented on #33
@jplevyak @PiotrSikora

[2020-07-14 08:10] Masterlvng opened #34 "how to make http call in stream context"
Hi all,
I want to do some check operation by sending outgoing http request in onRequestHeaders, just like the mixer filter
However, Context dosen't have httpCall method currently, only RootContext have.
So how could I make it?

[2020-07-14 14:42] taegyunkim commented on #34
https://github.com/envoyproxy/envoy-wasm/blob/140d4e539cf452278669c8cf06478fb08633956a/test/extensions/filters/http/wasm/test_data/async_call_cpp.cc#L31-L32

Get the root and call httpCall

[2020-07-15 06:54] Masterlvng commented on #34
@taegyunkim thank you.

[2020-07-15 06:54] #34 closed

[2020-08-06 19:42] xeioex opened #47 "StringView is not declared in proxy_wasm_intrinsics.h."
building this example: https://github.com/envoyproxy/envoy-wasm/tree/master/examples/wasm
proxy-wasm-cpp-sdk revision: 68920464571265b237e002bfd23f91d0f9328975
[code]

declaring something like
[code]

Solves the issue.

docs have the same issue
[code]

[2020-08-06 20:47] taegyunkim commented on #47
#38 removed it.

[2020-08-14 10:14] haorenfsa opened #50 "metric API not working"
I'm testing http filter compiled with latest sdk master branch in istio-1.5.8.
The metric methods seems not working.
Here are my related code:
[code]

I see no metric in promethues, and according to log, the metric counter value is always 0 even after `incrementMetric()`
below are the logs:
[code]

[2020-08-18 23:14] PiotrSikora commented on #33
It's actually the other way around, both should require a valid upstream name (see: https://github.com/envoyproxy/envoy-wasm/issues/594).

Passing upstream definitions over ABI boundary isn't very portable, and it breaks the future operator/plugin sandbox boundary for allowing/denying outgoing connections to specific upstreams. It also requires that keying material is available inside the plugin,

[2020-08-19 06:59] mandarjog commented on #33
We don’t want upstream definition, just ability to specify a fqdn or ip. The host code can create an upstream or lookup a cluster by properties.

[2020-08-19 15:32] kyessenov commented on #33
There are pros and cons to each. You can't do mTLS with simple calls, which you need to call in-cluster backends.
I think we need both versions: one for basic HTTP calls, and one that uses an upstream definition.

[2020-08-20 18:03] AsynchronousResource opened #52 "Tag v0.1.0 fails to build"
Hi,

I built the wasmsdk:v2 successfully using the v0.1.0 tag. However it it fails to build the sample at:
https://github.com/envoyproxy/envoy-wasm/blob/master/examples/wasm/envoy_filter_http_wasm_example.cc

with the following error:
`Adding directories to PATH:
PATH += /root/emsdk
PATH += /root/emsdk/upstream/emscripten
PATH += /root/emsdk/node/12.18.1_64bit/bin

Setting environment variables:
E

[2020-08-28 06:22] haorenfsa commented on #50
Thank you for the examples. I tried these lower level APIs because the high level ones also don't work. I'll try again later. But it's very confusing for that how can we expect the high level ones to be good if the low level ones are not. After all the high level ones call the low level ones to implement its functionality.

[2020-09-10 17:28] AsynchronousResource opened #57 "Wasm VM failed Wasm module is missing malloc function"
Does anyone know why something as simple as adding:
`std::random_device rd;`
to the onCreate() or anywhere else would cause this error?

[2020-09-10 17:29] kyessenov commented on #57
It's probably because it is using a device /dev/urandom or something from
POSIX that's not available in Wasm.

On Thu, Sep 10, 2020 at 10:28 AM AsynchronousResource <
notifications@github.com> wrote:

[2020-09-10 19:42] gbrail commented on #57
FWIW it seems like sometimes errors that cause the module to be unloadable,
like missing imports or exports, cause the "Wasm module is missing malloc
function" when the root cause is something else.

On Thu, Sep 10, 2020 at 10:30 AM Kuat <notifications@github.com> wrote:

[2020-09-10 22:34] AsynchronousResource commented on #57
Thanks @kyessenov that was the issue.

And yes @gbrail you are correct.. i've also noticed that without proper imports the wasm builds just fine it just fails to load!

[2020-09-11 04:16] #57 closed

[2020-10-19 21:31] andreyprezotto opened #60 "Compiling for different Envoy versions"
Hi, I'm doing some test with the sample code and was able to build and run the wasm filter in the envoy-dev:latest image.
In my use case I'll need to deploy this in an Istio environment. So I'm trying to run it using their Envoy implementation at istio/proxy:1.7.3 repo/image.
So far I understand that Istio was 'beta' supporting wasm filters because their Envoy implementation was targeting the envo

[2020-10-21 22:44] webngt opened #62 "modify response headers values based on response body contents"
Is it possible to modify response header values based on response body contents. For example, if I match a certain pattern in onResponseBody I want like to replace :status header value from 200 to 401 or 403 value.

According to documentation, Header API is only effective from onRequestHeader/onResponseHeader. So my task seems to be impossible to implement. Or maybe you can point to some kink of w

[2020-10-22 11:08] webngt opened #64 "error: use of undeclared identifier 'setBuffer'"
I want to replace response body using setBuffer https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/b5ff880ed13d93dde9faf53d0aa05b216cc60b86/proxy_wasm_api.h#L894

But when I compile my code with wasme build cpp, I get the following message

[code]

[2020-10-23 21:23] aejeet opened #65 "how to read request body ?"
As per https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/master/docs/wasm_filter.md
`getRequestBodyBufferBytes` method can be used to read the request body. But this method is not even supported.

What is the recommended way to read full request body (can potentially be large). A code sample will be very helpful.
Also, the documentation  should be fixed.

[2020-11-02 08:15] stoader opened #66 "Envoy 1.14.5 compatibility"
Can you provide some details on what branch/tag/commit points to the latest commit for Envoy 1.14.5? My understanding is that the `envoy-release/v1.15` is for Envoy 1.15 and the SDK built from this branch is not compatible with Envoy 1.14.5

[2020-11-02 11:28] PiotrSikora commented on #66
I'm afraid that this repo was created after we shipped Istio 1.6 (based on Envoy 1.14.x), and it was first used in Istio 1.7 (based on Envoy 1.15.x), so there is no version of the SDK here that's guaranteed to work with such old release.

Your best bet would be using [api/wasm/cpp from Istio 1.6](https://github.com/istio/envoy/tree/release-1.6/api/wasm/cpp/), but so many bugs were fixed since then

[2020-11-02 12:18] stoader commented on #66
Thank you for the quick reponse.

[2020-11-02 14:36] stoader commented on #66
@PiotrSikora I tried to build our WASM filter as described here: https://github.com/istio/envoy/tree/release-1.6/api/wasm/cpp#compiling-with-the-docker-build-image

The build fails with the following error:
[code]

Any idea what might be causing this?

[2020-11-12 17:46] #66 closed

[2020-11-12 17:56] stoader opened #67 "Build with debugging information"
Is there a description how to [build the SDK](https://github.com/proxy-wasm/proxy-wasm-cpp-sdk#docker) and [build the WASM filter](https://github.com/proxy-wasm/proxy-wasm-cpp-sdk#compiling-with-the-docker-build-image) with debugging information for GDB using Docker?

[2020-11-16 06:32] bianpengyuan opened #69 "Consolidate docker based build to use bazel"
Currently the build container used for docker based build is fragile since it copies dependencies like protobuf, emscripten toolchain, and abseil etc, and needs user to write tedious make file and build scripts. Instead we should consolidate container based build to also use bazel, which means provide a docker container which has all dependencies to build wasm module with emscripten tool chain. Th

[2020-11-16 08:38] PiotrSikora commented on #69
Sounds good. Thanks!

[2020-11-20 00:37] PiotrSikora commented on #67
@bianpengyuan could you help?

[2020-11-20 00:48] bianpengyuan commented on #67
@stoader what kind of debug information you are looking for?

[2020-11-20 06:46] stoader commented on #67
@bianpengyuan I'm looking for building the SDK and WASM filter such that the binary includes debugging symbols. Like the `-ggdb` in https://gcc.gnu.org/onlinedocs/gcc/Debugging-Options.html#Debugging-Options

[2020-11-24 17:52] bianpengyuan opened #78 "Create auto doc gen for high level callbacks"
Currently the document about available callbacks is out of dated. We need to have auto doc gen in this repo to covert comments for callbacks to document for references.

[2020-12-04 05:31] mathetake opened #79 "Make ABI information available to host implementations"
For example, it would be nice to expose which ABI versions and functions are supported in the current version of this repo through `GeneralInterface`.

Ref: https://github.com/envoyproxy/envoy/issues/10395

[2020-12-04 05:32] mathetake commented on #79
oops, I confused here with cpp-host :joy:

[2020-12-04 05:32] #79 closed

[2020-12-09 11:09] robertpanzer opened #80 "Exceptions thrown and caught within WebAssembly make Envoy drop the connection"
When the code inside a wasm module throws an exception, and catches it within the same execution so that it does not cross the boundary between wasm and Envoy it drops the connection without a response.

I have created a reproducer for Istio Proxy 1.8.1 at https://github.com/robertpanzer/wasm-extensions
The README explains how to test it.

Expected behavior:
A wasm module should be able to throw a

[2020-12-09 16:40] kyessenov commented on #80
How did you compile the module? Wasm instruction set does not support
exceptions in principle (it does not have goto), so relooper must be
applied to structure the control flow. Depending how complex non-local
control flow transfer is, it can be pretty expensive.

On Wed, Dec 9, 2020 at 3:10 AM Robert Panzer <notifications@github.com>
wrote:

[2020-12-09 16:46] kyessenov commented on #80
Looks like code is compiled with O3 which disables all exception handling.
See
https://emscripten.org/docs/optimizing/Optimizing-Code.html#optimizing-code-exception-catching.
DISABLE_EXCEPTION_CATCHING=0
can override but Emscripten recommends against exceptions to keep code
small and fast.

On Wed, Dec 9, 2020 at 8:40 AM Kuat <kuat@google.com> wrote:

[2020-12-10 09:25] robertpanzer commented on #80
The project is simply generated from this document: https://github.com/istio-ecosystem/wasm-extensions/blob/master/doc/write-a-wasm-extension-with-cpp.md

I just read up a bit on relooper, I don't fully understand though how it would help with exception handling?
It seems to process a CFG, that is it should work on a single function.
So would that still work for a construct where exceptions are th

[2020-12-10 10:37] PiotrSikora commented on #80
@kyessenov while this is true that exceptions should be avoided in new code targeting Wasm (or all code, depending on your preferences), sometimes you need to use existing C/C++ libraries that require them.

In any case, I've spent some time digging into this today, and I might have misrepresented the state of support for C++ exceptions a bit in our last meeting.

Emscripten supports C++ exception

[2020-12-10 16:29] kyessenov commented on #80
Emscripten uses Relooper under the hood (in fact, it's the main technical difficulty) for all non-local jumps (switch fallthrough, goto's). It should work for most code with exceptions. The main problem is it creates a lot more code and variables, which has a performance cost, some of it is gained back with compiler optimizations. But it's hard to say how much overhead it adds without measuring it

[2021-01-07 04:43] dmsqls opened #81 "httpCall crash"
Hi.

the conditions below using httpCall API, crach occurs.

- When service exists but Pod does not exist

[code]

The backtrace is as follows
[code]

It can be solved by modifying it like the code below. Please review.
`envoy/source/extensions/common/wasm.context.cc`

[code]

[2021-01-27 07:19] liuqi-sun opened #82 "Is there detailed API documentation"
Is there detailed API documentation? Such as "proxy_wasm_externs.h" and these functions "virtual FilterStatus onNewConnection() { return FilterStatus::Continue; }
  virtual FilterStatus onDownstreamData(size_t, bool) { return FilterStatus::Continue; }
  virtual FilterStatus onUpstreamData(size_t, bool) { return FilterStatus::Continue; }
  virtual void onDownstreamConnectionClose(CloseType) {}
  vi

[2021-01-27 10:56] PiotrSikora commented on #82
@bianpengyuan could you help?

[2021-01-27 16:09] bianpengyuan commented on #82
Sure, this is on my todo list.

On Wed, Jan 27, 2021 at 2:56 AM Piotr Sikora <notifications@github.com>
wrote:

[2021-01-27 18:14] esnible opened #83 "Example's root_id"
The file README, [line 47](https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blame/master/README.md#L47) registers the example with no root_id parameter.  I assume this picks up the default argument, `""`, but I couldn't get the example working without a root ID.  (I was using Istio EnvoyFilter to configure, perhaps mishandling an empty root_id is an Istio flaw, but it was confusing not to see a ro

[2021-01-27 21:00] bianpengyuan commented on #83
Empty root id should also be valid. I think it is something else that makes the example not working.. Most likely tool chain. I have a pending https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/pull/71 to update both tool chain and the example to use bazel. Have not yet got time to finish that.

Meanwhile, you can reference this guide: https://github.com/istio-ecosystem/wasm-extensions/blob/master/d

[2021-01-28 16:21] esnible commented on #83
I'm not trying to get into an argument with you.  I have retested it, and can confirm.

Using _myproject.cc_ with `static RegisterContextFactory register_ExampleContext(CONTEXT_FACTORY(ExampleContext), "my_root_id");` works; using it with `static RegisterContextFactory register_ExampleContext(CONTEXT_FACTORY(ExampleContext));` doesn't.

When using `"my_root_id"` my Istio EnvoyFilter contained

[co

[2021-01-28 16:45] bianpengyuan commented on #83
@esnible could you skip adding `root_id`? Not sure if that makes a difference.

[2021-01-28 16:57] esnible commented on #83
Further investigation.  If I use `root_id: "my_root_id"` vs `root_id: ""` in my EnvoyFilter Pilot generates six nearly identical `type.googleapis.com/envoy.extensions.filters.http.wasm.v3.Wasm` and they are ACK'd and make it to Envoy's config_dump.

Istio and Envoy seem to have a disconnect between empty and `null` root_id.  I created https://github.com/istio/istio/issues/30473 to discuss.  XDS ge

[2021-01-28 17:03] esnible commented on #83
Further information:

If I don't include a `root_id` in my EnvoyFilter it works.  So you are correct, there is nothing wrong with the lack of one in your README.  You can close this issue, although I would recommend putting a root_id into the example as an enhancement to avoid people falling into the same pit I am falling in.

I learned one more weird thing.  I also tried `root_id: ~` which SHOULD

[2021-01-29 02:24] esnible commented on #18
I don't have my WASM working yet.   I will reply anyway, so that I don't forget.

@kanishkarj I believe the uri required by httpCall, although documented https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/master/proxy_wasm_api.h#L349 as a **uri**, should be an Envoy cluster.  Something that appears before `::` in the list generated by the admin API of Envoy http://<host>:15000/clusters .

@mena

[2021-01-29 18:20] esnible opened #84 "WasmData::pairs() unstable"
What I suspect is happening is that the output of pairs() stops being safe after the WasmData goes out of scope and its destructor calls `::free()`.

To reproduce, add to the doc's _myproject.cc_ `onRequestHeaders()` the following code:

[code]

The output from the I-A loop is correct, the output from the I-B loop is corrupted.

This problem goes away if I create `request_headers` using two lines,

[2021-01-29 18:43] bianpengyuan commented on #84
well, this is expected behavior IMO. Caller has to take ownership of the the header map, since it returns a unique_ptr.

[2021-01-29 19:01] esnible commented on #84
It fooled me for a couple of hours.  At a minimum, put a comment on _proxy_wasm_api.h_:99 for `std::vector<std::pair<std::string_view, std::string_view>> pairs();` saying that the resulting vector will not be valid past the lifetime of the WasmData.

Consider having two different variants of `pairs()`, one that produces a deep copy the caller must free, and another that is very fast.

[2021-01-29 19:10] bianpengyuan commented on #84
I think it speaks for itself since it is string_view, but yeah, I guess we can make it more clear.

I don't think that would be ideal, this is going to cause performance problem and not a good practice, we should avoid that in the API.

[2021-02-04 11:28] alishir opened #85 "Implementing network filter"
Is it possible to use `proxy-wasm-cpp-sdk` for implementing L3 network filters?

[2021-02-04 11:34] PiotrSikora commented on #85
There is support for L4 (TCP, no UDP yet), but it's unlikely there will ever be support for L3 (IP).

[2021-02-04 13:29] alishir commented on #85
Thanks for your reply. Is there any example L4 filter using `proxy-wasm-cpp-sdk`? Unfortunately I could not figure out how I should implement the L4 filter using this SDK.

[2021-02-04 20:59] PiotrSikora commented on #85
Not a production-ready example to follow, but hopefully enough to get you started:
https://github.com/envoyproxy/envoy/blob/d0f0ec28527c2be0fb2cb827ff6be8bf51c45f06/test/extensions/filters/network/wasm/test_data/test_cpp.cc

[2021-02-05 13:40] alishir commented on #85
Thanks a lot.

[2021-02-05 13:40] #85 closed

[2021-02-20 19:20] rahulanand16nov opened #87 "Building fails by giving the error: Argument list too long compilation terminated."
I have read past closed issues related to this error but nothing worked out. Can anyone please guide me to solve this problem?
[code]

I tried ulimit -s unlimited, updating GCC and clang to 10. Not sure why it's not working.

[2021-02-21 00:35] bianpengyuan commented on #87
This is error from building envoy. You should open an issue at envoyproxy/envoy instead.

[2021-02-21 08:17] #87 closed

[2021-02-28 15:51] fzy-Line opened #89 "docker build Dockerfile-sdk error"
When I run the docker build command, I get the following error:
......
Cloning into 'protobuf'...
fatal: unable to access 'https://github.com/protocolbuffers/protobuf/': gnutls_handshake() failed: Error in the push function.
The command '/bin/sh -c ./sdk_container.sh' returned a non-zero code: 128

I've tried several solutions, but it still reports errors. Can someone help me? Or provide me with a

[2021-03-04 09:06] PiotrSikora commented on #81
Sorry for the delay, it should be fixed with https://github.com/envoyproxy/envoy/pull/15311.

[2021-03-08 06:28] #81 closed

[2021-03-18 09:05] liuqi-sun opened #92 "Failed to load Wasm module"
[source/extensions/common/wasm/wasm_vm.cc:39] Failed to load Wasm module due to a missing import: env.pthread_rwlock_init

[2021-03-18 16:15] bianpengyuan commented on #92
Any more info? How do you build the Wasm module, and what is the version of envoy?

[2021-03-18 18:03] PiotrSikora commented on #92
Sounds like your C++ code is multi-threaded, and that's not currently supported in Wasm.

[2021-03-20 16:23] NomadXD opened #93 "[Question] Using gRPC bidi streams"
Any example for how to use gRPC bidi streams from a wasm filter ? As I understand we can make gRPC calls from either Context or RootContext.

[2021-03-21 06:59] NomadXD commented on #82
@PiotrSikora @bianpengyuan Can I know when the documentation will be available ? Thanks

[2021-03-22 07:40] NomadXD commented on #93
what's so confusing is
`auto res = root()->grpcStreamHandler(grpc_service_string, EchoServerServiceName, PublishMetadataMethodName, initial_metadata,std::unique_ptr<GrpcStreamHandlerBase>(new MyGrpcCallStreamHandler(this)));`
returns a `WasmResult`. So if we are using a grpc streaming from a filter we have to ,
[code]
and then implement some methods in `MyGrpcCallStreamHandler` to make it possible

[2021-03-22 08:51] NomadXD commented on #93
Really appreciate if someone can provide a sample code snippet of the way to use `grpcStreamHandler` since there's no any resource available to refer. Thanks

[2021-03-23 04:56] liuqi-sun commented on #92
./bazel-bin/source/exe/envoy-static --version

./bazel-bin/source/exe/envoy-static  version: 5c801b25cae04f06bf48248c90e87d623d7a6283/1.17.0/Modified/DEBUG/BoringSSL

[2021-03-23 04:58] liuqi-sun commented on #92
I use gflag  library that may be is multi-threaded. it is ok after I delete gflag  library

[2021-03-23 05:02] liuqi-sun opened #95 "WASM is not support int64_t?"
I get timestamp by gettimeofday function,  tv_sec * 10 is out of bound.

[2021-03-22 20:34:35.539][40124][info][wasm] [source/extensions/common/wasm/context.cc:1178] wasm log: now.tv_sec=1616470475, now.tv_usec=539285, now.tv_sec*10=-1015164434

[2021-03-23 05:18] bianpengyuan commented on #95
Interesting. Probably time_t is defined as 32 bit integer..? Could you print sizeof `now.tv_sec`?

[2021-03-23 06:28] PiotrSikora commented on #95
`time_t` is usually defined as `long`, which in 32-bit WasmVM is going to be 32-bit, and that's the case in this SDK, which is based on Emscripten that includes musl, see: https://github.com/emscripten-core/emscripten/blob/2.0.7/system/lib/libc/musl/arch/emscripten/bits/alltypes.h#L75

Since the current `tv_sec` value is a pretty high number, it's going to overflow and wrap-around if you multiply

[2021-03-23 06:37] liuqi-sun commented on #95
thanks

[2021-03-23 06:38] #95 closed

[2021-03-23 06:38] PiotrSikora commented on #93
@NomadXD this is the only example of `grpcStreamHandler` that I could find:
https://github.com/envoyproxy/envoy/blob/main/test/extensions/filters/http/wasm/test_data/test_grpc_stream_cpp.cc

In our production code, we actually use `root()->grpcSimpleCall(...)`.

[2021-03-23 06:42] liuqi-sun commented on #95
Thanks, I am aware of the problem too,

Thanks, I am aware of the problem too,  is there 64-bit WasmVM ?

[2021-03-23 09:10] NomadXD commented on #93
@PiotrSikora I'm doing the same thing like in that example, but I want to send a message through a opened stream when onRequestBody() is called. So in my filter I open a stream in onRequestHeaders() and keep a reference to `MyGrpcStreamHandler` in my class. When onRequestBody() is called, using the reference to `MyGrpcStreamHandler`, I send the message through the open grpc stream. You can have a

[2021-03-24 13:27] srenatus opened #96 "Question: out-of-tree wasm modules?"
Hi there. I've been having some fun with this project lately, thanks for that!

Perusing the docs, I've stumbled upon [a section that spiked my interest](https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/master/docs/wasm_filter.md#out-of-tree-wasm-module):

What is that about? 🤞 I'm hoping it's about having one wasm module coming from somewhere, and wrapping that in a proxy-wasm-compatible way

[2021-03-24 19:38] NomadXD commented on #93
@PiotrSikora I think there's an issue with the way gRPC bidi streams are implemented in C++ SDK. Since the method which creates the gRPC stream ,

[code]
takes `std::unique_ptr<GrpcStreamHandlerBase> handler` as a parameter, if we are calling this method from a filter, we can't keep a pointer to the handler. Which means we don't have access to the handler , which means we can't call the `send()` m

[2021-03-25 12:27] liuqi-sun opened #97 "Inconsistent number of HTTP request response callbacks"
OnRequestHeaders and onResponseHeaders are called the same number of times when I test by "sudo curl http://10.73.87.60:8000/", but  OnRequestHeaders and onResponseHeaders are called differently when I perform stress testsby "./wrk -t4 -c400 -d1s --latency http://10.73.87.60:8000/", why?

[2021-03-29 11:17] NomadXD opened #98 "Dynamic metadata of type google::protobuf::Struct not working"
In my scenario I'm setting up dynamic metadata from ext_authz filter and trying to read from my WASM filter as follows. But the method which is defined to get metadata returns false.

[code]
That logs the error because the method `getMessageValue` returns false. I tried to debug the issue and the following section of logs shows the issue.

[code]
I just tried the following to check whether a value

[2021-03-31 05:39] NomadXD commented on #98
@PiotrSikora Can you please have a look ? I'm stuck with this for several days.

[2021-03-31 08:51] stoader opened #99 "WASM SDK for istio 1.9 (Envoy v1.17.1)"
Is there version of the SDK that is compatible with Istio 1.9 which is using Envoy v1.17.1 ?

If so can you point me to the right branch/tag/commit?

[2021-03-31 09:27] PiotrSikora commented on #99
Do you have any issue using `master` branch?

[2021-03-31 10:02] PiotrSikora commented on #98
What's the content of `buf1`?  Could you print the value? If it's garbage, could you try to print `buf1.pairs()`?

[2021-03-31 10:04] PiotrSikora commented on #97
As mentioned in https://github.com/envoyproxy/envoy/issues/15724, this is unrelated to Proxy-Wasm C++ SDK.

[2021-03-31 10:04] #97 closed

[2021-03-31 10:32] NomadXD commented on #98
@PiotrSikora The value for buf1 is as follows.
I did,
[code]

[code]
So all my meta data are there. Any way I can get those as protobuf struct and assign it to a local variable ?

[2021-03-31 10:41] PiotrSikora commented on #98
Could you try deserialize it as a pair?
[code]

Since `getMessageValue<google::protobuf::Struct>` doesn't work, I don't think this is received as a protobuf.

[2021-03-31 10:52] NomadXD commented on #98
Yeah i could deserialize it as a pair.
[code]
So I'm get setting up dynamic metadata from the response of ext_authz. I think `filter_metadata` is in the form of `map<string, google::protobuf::Struct>` and when I consider metadata of one specific filter it's a protobuf struct. Here's what I set up from ext_authz response.

[code]

[2021-03-31 10:53] stoader commented on #99
@PiotrSikora is that stable for production use?

[2021-03-31 10:57] PiotrSikora commented on #98
There was a breaking change at some point that got sneaked past us, and `google::protobuf::Struct` (effectively, a list of key-value pairs) is now emitted as a serialized list of key-value pairs.

Generally, this is a good change, since it removes the unnecessary dependency on `protobuf` library inside Wasm.

[2021-03-31 11:02] NomadXD commented on #98
Oh okay. So should I create a protobuf using these key value pairs (if possible) or go with these key value pairs ? I want to send these to a grpc service through a grpc bidi stream which accepts these as protobuf(I can change it to to a map also).

[2021-03-31 11:10] PiotrSikora commented on #98
You have to use `pairs()`, because I don't think you can get the original `google::protobuf::Struct` via `getProperty` anymore.

[2021-03-31 11:14] PiotrSikora commented on #93
The API is indeed quite unfortunate, but I think you could use it like this:
[code]

[2021-03-31 11:17] NomadXD commented on #98
@PiotrSikora okay thanks a lot for all the info and help. There was another issue I got when I try to use grpc bidi streams and I managed to make it work using a work around. I would really appreciate if you can give me any feedback or your opinions about that too. I know you guys are probably busy with work and all , just have a look when u get some time.

https://github.com/envoyproxy/envoy/issu

[2021-03-31 11:30] NomadXD commented on #93
@PiotrSikora yeah that's how i use it now. My worry is that whether it's safe to keep a raw pointer in the filter class. When we pass it as std::unique_ptr , we don't have ownership to the `stream_handler_`.

Now when `onRemoteClose` gets triggered , I do a callback to the filter and let it know that handler is not there so it won't call stream_handler->send(). And then I create another handler. (

[2021-04-01 17:17] aysee commented on #62
I have a similar use case. We need to update crc-32 header after we modify response body. However, according to the docs, header modification is not allowed when we process body.
Is there a workaround available?

[2021-04-02 02:55] PiotrSikora commented on #62
@webngt buffering complete responses is not supported, sorry (see: https://github.com/proxy-wasm/proxy-wasm-cpp-host/issues/143#issuecomment-812287392).

@aysee if the consumer supports it, then you should be sending updated CRC-32 value in HTTP trailers instead of headers.

[2021-04-03 00:50] aysee commented on #62
@PiotrSikora thank you for your suggestion of using HTTP trailers! I tried to use them in my sandbox project, but onResponseTrailers and onRequestTrailers are not being called. Do you have any example of how to use them?
Here is what I have in my Context:
[code]

Here is the implementation itself (just logs for debug purposes):
[code]

on*Body methods also return FilterDataStatus::Continue

[2021-04-03 10:26] PiotrSikora commented on #62
Those callbacks are called only if trailers already exist (i.e. if they were received from upstream)... and I've now realized that we don't support setting trailers if they don't already exist in Envoy, see: https://github.com/envoyproxy/envoy/pull/15831.

[2021-04-06 11:05] NomadXD commented on #98
@PiotrSikora Just one more thing regarding the dynamic metadata. So if I set up a a `boolean` value in `ext_authz` , I get an empty field for that ??? All the `string` values works fine for me. But for other values, it's either empty or not in a proper format like this `\000\000\000\000\000\000\000\000`

[2021-04-08 09:51] PiotrSikora commented on #98
@NomadXD the `pairs` serialization was designed specifically for string pairs, and if it's used for anything else, then it's most likely broken. See: https://github.com/envoyproxy/envoy/pull/15196#issuecomment-815603042.

[2021-04-14 03:03] Xunzhuo opened #101 "Question: Why don`t we store pre-built image in registry like docker hub？"
From what I have tried, the process of building docker image takes so long, and as other issues said, it`s possible to go wrong when building image.

Is there any problem to push a pre-built image to docker hub to manage? If we want to use it to compile C++ to wasm, we can just pull directly from docker hub?

I just pushed to my hub, if i want to use it somewhere else,  I just run `docker pull bit

[2021-04-14 16:15] bianpengyuan commented on #101
For long term I think we only want to maintain bazel based build. https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/pull/71 is an attempt to achieve that, which has been pending for quite a while.

[2021-04-16 07:54] PiotrSikora commented on #62
@aysee that PR was merged and it's included in the Envoy v1.18.0 release. There are examples for how to use it in that PR.

[2021-04-17 07:28] Xunzhuo commented on #101
@bianpengyuan got it~Thanks~

[2021-04-17 07:28] #101 closed

[2021-04-19 23:10] aysee commented on #62
@PiotrSikora thank you so much for such a quick implementation! I appreciate it!

[2021-04-20 06:37] NomadXD commented on #95
@liuqi-sun how did you get the current UTC time ? I'm using `getCurrentTimeNanoseconds` and it's giving me a time in 1980s. Any idea ?

[2021-04-20 06:39] PiotrSikora commented on #95
@NomadXD you can use `gettimeofday()`.

[2021-04-21 03:49] Xunzhuo opened #103 "/docs/wasm_filter.md API Update"
It seems that proxy_wasm_api.h has been updated since /docs/wasm_filter.md pushed. Part of the docs left behind. Is it ok to update /docs/wasm_filter.md  by contributing?

[2021-04-21 06:36] Xunzhuo opened #104 "Proposal: Add more examples using cpp-sdk"
I think the official example just shows very basic use of cpp-sdk .  Can we add more extensions built by wasm using cpp-sdk ?

[2021-04-21 07:37] PiotrSikora commented on #104
Yes, ideally, we should have the same set of examples implemented in all Proxy-Wasm SDKs (e.g. see [examples in Proxy-Wasm Rust SDK](https://github.com/proxy-wasm/proxy-wasm-rust-sdk/tree/master/examples)).

PRs welcome!

[2021-04-21 07:46] PiotrSikora commented on #103
Note that this file is removed as part of #86, but I'm not sure what's the plan here. cc @bianpengyuan

[2021-04-21 07:50] Xunzhuo commented on #104
Sure, I am working on this recently~ If there is some good examples, I will give PRs~ @PiotrSikora

[2021-04-21 09:28] Xunzhuo opened #105 "Question: WasmRuntimeValues in Envoy"
As envoy source code shows:

![image](https://user-images.githubusercontent.com/48784001/115530576-7b40ca00-a2c6-11eb-9767-e3d26c719162.png)

How can I run wasm in Wasmtime, Wavm.. instead of v8 engine in Envoy ?

I try to edit envoy config to change runtime field to wasmtime or wavm, but it seems not to work right.

Is it now Envoy just support v8 to run wasm or something else?

[2021-04-21 17:04] PiotrSikora commented on #105
You need to compile Envoy with selected Wasm runtime (e.g. `bazel build --define wasm=wasmtime ...`).

But please keep issues in their respective repositories. This is Envoy question, not C++ SDK question.

[2021-04-21 17:04] #105 closed

[2021-04-23 06:58] nearbyfly opened #110 "How to retrieve downstream local and remote address?"
Does wasm cpp have api to retrieve download local and remote address?

For example in lua http filter, request_handle:streamInfo():downstreamLocalAddress(), request_handle:streamInfo():downstreamLocalAddress(), can be used to get such addresses.

[2021-04-23 11:39] srenatus commented on #96
OOB discussion with @PiotrSikora: This is probably about a code example that is in a different repo; not at all related to module linking.

[2021-04-23 11:39] #96 closed

[2021-04-26 07:47] CalbeeMing0530 opened #111 "Is there an http status code related API"
How can I return an HttpResponse in my cpp project, for example, I can further set to return 200 or 403 http status code according to whether the field value contained in the request header matches certain rules, is there any such example? I don't see an API for returning the relevant http status code in the API documentation provided by github

Is there an example of something like [envoy wasm ru

[2021-04-26 16:22] bianpengyuan commented on #111
You can find some example here: https://github.com/istio-ecosystem/wasm-extensions/blob/master/extensions/basic_auth/plugin.cc#L31

[2021-04-28 02:24] CalbeeMing0530 commented on #111
@bianpengyuan thans a lot, I will try it ,  hope to see more detailed API documentation in the future：-）

[2021-04-29 03:38] Xunzhuo opened #112 "Can http call ouside of clusters? like http URL?"
question about http call

[2021-05-09 19:06] #112 closed

[2021-05-09 19:09] Xunzhuo opened #113 "How can I read value from envoy config.yaml?"
How can I read value from envoy config.yaml? is it related to getValue() api?

[2021-05-18 02:44] nearbyfly commented on #110
Following api can help to get addresses.
getProperty({"source", "address"})
getProperty({"destination", "address"})

[2021-05-18 02:44] #110 closed

[2021-05-25 07:18] leyao-daily opened #115 "Build wasm in docker image based on main branch failed"
docker run -v $PWD:/work -w /work wasmsdk:v2 /build_wasm.sh
Adding directories to PATH:
PATH += /root/emsdk
PATH += /root/emsdk/upstream/emscripten
PATH += /root/emsdk/node/14.15.5_64bit/bin

Setting environment variables:
PATH = /root/emsdk:/root/emsdk/upstream/emscripten:/root/emsdk/node/14.15.5_64bit/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
EMSDK = /root/emsdk
EM_CONFIG

[2021-06-03 08:32] Snailll opened #117 "how to read file in wasm"
In the wasm filter ,I want to read some configurations from file.
I wrote some code in the  onConfigure part like this
`
    std::string data;
    std::ifstream infile;
    infile.open("/configurations.json");
    infile >> data;;
    infile.close();
    LOG_ERROR("configurations -> " + data);
`
Howerev, I cannot get any content of the configuration file.

How to read a configuration file in wasm

[2021-06-03 18:58] PiotrSikora commented on #117
The read-only file access is being actively worked on... But why exactly do you need it?

Note that the recommended way to configure plugins is to add the configuration in the proxy config itself, which is then available in the plugin via `proxy_get_buffer_bytes(WasmBufferType::PluginConfiguration, ...)`.

[2021-06-04 01:19] CalbeeMing0530 commented on #117
This kind of requirement is more common, for example, we use wasm to do some traffic processing work, which will involve policy reading, so we need to read the mounted configuration from the envoy proxy

[2021-06-04 01:36] CalbeeMing0530 commented on #117
@PiotrSikora In addition，If the policy is complex and confidential, it is obviously not wise to put it all in the proxy configuration

[2021-06-07 03:10] #111 closed

[2021-06-09 01:54] CalbeeMing0530 opened #118 "Does envoy or envoy wasm c++ sdk support caching of http request and response body"
I deployed Envoy wasm plugin in Istio environment,  and use wasm c++ sdk to operate on http requests，and using wasm c++ sdk to operate on http requests, I found that the current `onRequestBody `method does not seem to have a cache operation for the request body, what I want  is to have this cache operation so that the request or response body can be accumulated to a certain size before being detec

[2021-06-18 11:35] sumitaneja opened #121 "How to calculate sha256 digest of body in wasm"

[2021-07-01 05:46] leyao-daily opened #123 "Is there any way to import third wasm library to build env"
My wasm filter would like to use a 3rd library. How can I use it to build my filter based on the build docker image?

[2021-07-01 15:39] orangetangerine opened #124 "How to update content-length header after modifying response body via setBuffer(WasmBufferType::HttpResponseBody) ?"
Hi, I have a json response like `{"foo": "bar"}`. It's content-length is 14
I added a wasm to wrap the json response to sth like `{"code": 0, "err": "", data: {"foo": "bar"}}`. It's content-length is 44.
I tried calling `addResponseHeader("content-length", "44")` and `replaceResponseHeader("content-length", "44")` in `onResponseBody. Neither worked.
And curl complains: `curl: (18) transfer closed

[2021-07-01 21:16] PiotrSikora commented on #124
No, you cannot update headers after modifying resposne body, since headers are already sent to the client.

However, you don't really need the `Content-Length` header, and you can safely remove it before modifying the body.

[2021-07-08 09:10] #124 closed

[2021-07-08 09:10] orangetangerine commented on #124
Thanks!

[2021-07-18 07:39] orangetangerine opened #125 "Can I transfrom http request into tcp on HTTP Filter"
*Can I transfrom http request into tcp on HTTP Filter*

*Description*:
We have an old RPC framework running on production, with a self-designed RPC protocol on TCP. And I've made a transformer to turn gRPC request onto this private RPC request, so that these old services can run in Kubernetes, work on L7, and be controlled by Istio-proxy.
My question is, can I do this transform by WASM with Istio?

[2021-07-28 09:01] #32 closed

[2021-08-02 09:24] Xunzhuo opened #127 "SetBuffer OnRequestBody return 400 Bad Request occasionally"
When I try to change request body, I got 400 response occasionally. Sometimes envoy respond in expectation and sometimes respond in 400 Bad request

I use `curl -d "Hello,World" localhost:18000/` to send request

Envoy log is below:

[code]

wasm c++ code:

[code]

envoy config is:

[code]

upstream is coded by Golang http package:

[code]

Expected response from upstream is:

![image](https://use

[2021-08-02 23:27] PiotrSikora commented on #127
@Xunzhuo you're replacing request body, possibly mutliple times (`OnRequestBody` is called for each request body chunk), but you don't modify the headers that include `Content-Length` header, so the updated body doesn't match expected length, hence `400 Bad Request`.

If you want to replace complete body, you need to remove `Content-Length` header (or replace it if you know the correct value ahead

[2021-08-03 01:36] Xunzhuo commented on #127
@PiotrSikora Thanks, problems have been solved by your guide😊

[2021-08-03 01:36] #127 closed

[2021-11-05 08:47] rtttech opened #129 "metadata api"
Why Metadata API is empty?

[2021-11-08 16:44] #99 closed

[2021-11-08 17:29] stoader opened #130 "Prometheus metric labels"
Hi @jplevyak @PiotrSikora , can you help out regarding how can we define Prometheus metric labels when constructing metrics using the higher level metrics interface of the SDK?

Initially thought that metrics tags are translated into Prometheus metrics labels however apparently metrics tags are appended to the metric name, e.g.: `metric1_label_foo` instead of `metric1{label="foo"}`

[2021-12-24 08:33] mkauf opened #131 "The function proxy_get_configuration() should be removed from the SDK"
The function ``proxy_get_configuration()`` is not implemented anymore in Envoy. If it's used by a WASM plugin, Envoy prints this error message:
[code]

Therefore the function ``proxy_get_configuration()`` should be removed from the SDK.

Note: To get the plugin configuration, use ``getBufferBytes(WasmBufferType::PluginConfiguration, 0, configuration_size)``.

[2022-06-06 20:53] NomadXD opened #136 "Build failing in `envoyproxy/envoy-build-ubuntu:49aaeb8f5473f09b4ab37ef3233a5e8afb7f9ed8-arm64`"
I have written a WASM filter and use `envoyproxy/envoy-build-ubuntu` docker image to build the WASM module as a `proxy_wasm_cc_binary`(mount the source files into the container, build inside and mount back the WASM module to the host). The build works fine in my linux machine with `envoyproxy/envoy-build-ubuntu`. In MacBook Pro M1 machine, I use this `envoyproxy/envoy-build-ubuntu:49aaeb8f5473f09b

[2022-07-11 11:17] MMahdiSetak opened #137 "Using external library (in my case, librdkafka)"
Hi
I've been trying to add librdkafka as an external library and use it inside my cpp code but when I try to compile it and generate the wasm file, I get this error:
[code]
I've searched about the error and according to [this link](https://stackoverflow.com/questions/57294541/error-linking-wasm-object-files-with-wasm-ld), it seems that adding some link files to em++ options is not possible.
How ca

[2022-07-11 16:53] PiotrSikora commented on #137
You're trying to link together Proxy-Wasm plugin (built for wasm32 architecture) and system library (built for x86_64 architecture). This won't work, you need to build librdkafka++ from sources for wasm32 target as part of the plugin itself.

[2022-07-12 15:29] PiotrSikora commented on #137
You need to build it from sources as part of the plugin build process (assuming it even compiles to wasm32, since that's not guaranteed).

[2022-07-21 11:43] VivekSubr opened #139 "Is it possible to get underlying socket?"
Hello!

Looking at the doc, looks like you can only write filters at Layer7? Envoy can also proxy tcp connections, and what if someone wants to do stuff with socket options? Is there any way to get the underlying socket for a given request?

[2022-07-21 17:56] PiotrSikora commented on #139
You can write HTTP or TCP filters, but you cannot access underlying TCP connection from HTTP filter, since it can carry more than a single request.

For TCP filters, you should override those functions:
https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/master/proxy_wasm_api.h#L455-L459

[2022-08-03 18:44] jlb6740 opened #140 "Support for exceptions .. Disabling emscripten-cxx-exceptions"
Hi .. Enabling exceptions for WASM seems to conflict with an -fno-exceptions flag being used by emscripten during linking.
For example, if I add a try and catch in the example and build with:

bazel build //example:http_wasm_example.wasm --features=exceptions

The build fails with the following error:
`jlbirch@jlbirch:~/proxy-wasm-cpp-sdk-jlb6740/example$ bazel build //example:http_wasm_example.wa

[2022-08-03 19:27] PiotrSikora commented on #140
Looking at the errors, it looks that `--features=exceptions` actually works and enables exceptions.

The issue is that `___resumeException` and other hostcalls are not available during build, so you need to either disable this check (`--linkopt=-sERROR_ON_UNDEFINED_SYMBOLS=0` should work) or create a JavaScript stub with prototypes for those functions (similarly to how Emscripten is made aware of

[2022-08-03 19:49] jlb6740 commented on #140
Hi @PiotrSikora .. Thanks for the response. So I've updated the BUILD file for the example like this:

But am still getting the same error? But beyond that we are definitely trying to run a filter that requires exception handling and its disconcerting to hear it won't work in Envoy/Istio. (1) What work is needed to get that support in (and how much/difficult is that work)? (2) Are there workaround

[2022-08-03 20:17] PiotrSikora commented on #140
I think you need to add a comma between `linkopts`.

Regarding support for C++ exceptions in Envoy/Istio, there is a bug tracking it here: https://github.com/proxy-wasm/proxy-wasm-cpp-host/issues/116.

To be honest, I didn't look at it since the support for native Wasm exceptions was added to V8 and Wasmtime. Perhaps it "just works"? But it looks that Emscripten still uses some JavaScript wrappers

[2022-08-03 20:26] jlb6740 commented on #140
Thanks. Yes, exception support seems to work now in V8 as of I think version v9.5 (the latest envoy is using v10.4) and in emscripten as of 3.1.16. I've tried in node and chrome devtools in the browser and both now show the same behavior as compiling C++ to native for the example tried. Perhaps it will work .. we just need to try?

About the flag, I tried both ways and tried via the command line b

[2022-08-03 20:51] PiotrSikora commented on #140
Are you sure that we need both `-fexceptions` (enabled by `--features=exceptions`) and `-fwasm-exceptions`?

[2022-08-03 21:12] jlb6740 commented on #140
Yeah, the flag combination is just not at clear to me and obviously will be dependent and become even less clear when considering the version of emscripten matters. I'm using very close to the latest release. It seems the fwasm-exceptions is needed. If I remove that then there is an undefined symbol:

which in quick reading appears to related to the landing location for exception handling. If I re

[2022-08-16 13:26] GOVYANSONG opened #141 "wasm-ld: error: /sdk/libprotobuf.a(common.o): undefined symbol"
I am trying to experiment with the proxy wasm c++ sdk. my system: Linux mk8smaster 5.10.16.3-microsoft-standard-WSL2 #1 SMP Fri Apr 2 22:23:49 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux. Run command: docker run -v $PWD:/work -w /work  wasmsdk:v2 /build_wasm.sh. Got following warnings and errors:

wasm-ld: warning: Linking two modules of different data layouts: '/sdk/libprotobuf.a(any.o at 3275502)' i

[2022-08-16 20:19] GOVYANSONG commented on #141
While searching for solution, I stumbled upon another sample project: https://github.com/salrashid123/envoy_wasm. this one offers better clarity around envoy wasm bazel build. I was able to build and run the sample wasm without any issue. I will attempt to build the wasm in my original post and update status.

[2022-08-17 12:59] GOVYANSONG commented on #141
I was able to adapt my original sample project to utilize envoy wasm bazel build. bazel BUILD file attached herein for reference:

load("@bazel_skylib//lib:selects.bzl", "selects")
load(
    "//bazel:envoy_build_system.bzl",
    "envoy_package",
)
load("//bazel/wasm:wasm.bzl", "envoy_wasm_cc_binary")
load("@io_bazel_rules_go//proto:def.bzl", "go_proto_library")

licenses(["notice"])  # Apache 2

e

[2022-08-17 12:59] #141 closed

[2022-09-13 08:10] murthyvenkatakrishna opened #142 "Failed to load Wasm module due to a missing import: env.getaddrinfo"
Hello All,

I am unable to call getaddrinfo from wasm. Is this a limitation?
[2022-09-09 07:11:25.221][1][error][wasm] [source/extensions/common/wasm/wasm_vm.cc:38] Failed to load Wasm module due to a missing import: env.getaddrinfo

[2022-09-27 09:38] INT2ECALL opened #143 "does it support grpc protocol process"
hello, i want to process grpc stream by this sdk,i deployment a wasm in my envoy,but i got error :
pstream connect error or disconnect/reset before headers. reset reason: protocol error

[2022-09-27 09:39] INT2ECALL commented on #143
i works in http,but when i set my cluster to my grpc server i got this error

[2022-09-27 09:42] INT2ECALL commented on #143
my wasm code is

#include <string>
#include <string_view>
#include <unordered_map>

#include "proxy_wasm_intrinsics.h"

class ExampleRootContext : public RootContext {
public:
  explicit ExampleRootContext(uint32_t id, std::string_view root_id) : RootContext(id, root_id) {}

  bool onStart(size_t) override;
  bool onConfigure(size_t) override;
  void onTick() override;
};

class ExampleContext : p

[2022-09-28 06:06] INT2ECALL commented on #143
solve by add cluster https option
[code]

[2022-09-29 04:00] INT2ECALL opened #144 "does it support grpc decode?"
hello ,i am using wasm to get grpc data, can i decode it by envoy plugin,or it need decode on my own

[2022-09-29 07:56] INT2ECALL commented on #144
@PiotrSikora @zwoop @jplevyak @gbrail  help

[2022-10-11 05:17] coolg92003 opened #145 "Build wasm(libprotobuf.a failed with undefined symbol(std::__2::__basic_string_common<true>::__throw_length_error() const)"
I Use make file Makefile.base to build below 4 files failed with below errors, any suggestions?
4 files:
HFEDHttpScreen.h
HFEDHttpScreen.cc
Below two files are build by (protoc --proto_path=${SRC_DIR} --cpp_out=${DST_DIR} ${SRC_DIR}/HFEDHttpScreenMsg.proto)
 /usr/local/bin/protoc --version
    libprotoc 3.9.1
HFEDHttpScreenMsg.pb.h
HFEDHttpScreenMsg.pb.cc

When trigger to build wasm file with belo

[2022-10-12 03:02] coolg92003 commented on #145
do this make file again, then works now
cat Makefile_pb
CPP_API ?= .

all: proxy_wasm_intrinsics.pb.h proxy_wasm_intrinsics_lite.pb.h struct_lite.pb.h HFEDHttpScreenMsg.pb.h ${CPP_API}/libprotobuf.a ${CPP_API}/libprotobuf-lite.a

protobuf: proxy_wasm_intrinsics.pb.h proxy_wasm_intrinsics_lite.pb.h struct_lite.pb.h HFEDHttpScreenMsg.pb.h

proxy_wasm_intrinsics.pb.h: proxy_wasm_intrinsics.proto

[2022-11-28 14:15] coolg92003 commented on #127
How do u change the Content-Length header in onRequestBody(), according to WASM doc, it can't modify HTTP header in onRequestBody().
Would you share your code?
thanks
Cliff

[2022-11-30 03:55] coolg92003 opened #146 "How to modify HTTP header "Content-Length" in onRequestBody/onResponseBody"
Current, I use WASM to modify request/response body: a
1) Assume the orignal message body:
          {"name":"cliff"}
         'content-length', '16'
2) in onRequestBody()
After modify, then the body size will be below 3 conditions:
1) the new body size == the original body size,  Perfect
    in server side, got {"name":"world"}
2)  the new body size > the original body size, this is also Ok, my s

[2022-11-30 04:09] coolg92003 commented on #146
This is good link, but it doesn't meet the need